---
interface Props {
  bgImageSlug: string,
  altText?: string,
  modifiers?: string[],
}

const { modifiers, bgImageSlug, altText } = Astro.props;
const modifierClasses = modifiers || ["saturate-150", "contrast-125", "dark:brightness:50"]

// Let bg stuff be overridden, but not the flex grow.
const classes = [
    "z-zero",
    "absolute",
    ...modifierClasses,
    "h-screen",
    "w-screen",
].join(" ");
---

<html>
    <div class={classes}>
        <picture>
            <source media="(min-width:640px)" srcset={`${bgImageSlug}-sm.webp`}>
            <source media="(min-width:768px)" srcset={`${bgImageSlug}-md.webp`}>
            <source media="(min-width:1024px)" srcset={`${bgImageSlug}-lg.webp`}>
            <img src={`${bgImageSlug}.webp`} alt={altText} class={classes}>
        </picture>
        <div class="z-10 h-screen w-screen flex flex-col">
            <slot />
        </div>
    </div>
</html>
