---
interface Props {
  bgImageSlug: string,
  altText?: string,
  modifiers?: string[],
  containerClasses?: string[],
}

const {
    modifiers = ["saturate-150", "contrast-125", "dark:brightness:50"],
    containerClasses = ["z-0", "absolute", "flex", "flex-col"],
    bgImageSlug,
    altText
} = Astro.props;

const allContainerClasses = [
    ...containerClasses,
    "h-screen",
    "w-screen",
].join(" ");

const classes = [
    "absolute",
    "object-cover",
    ...modifiers,
].join(" ");
---

<html>
    <div class={allContainerClasses}>
        <picture>
            <source media="(min-width:640px)" srcset={`${bgImageSlug}-sm.webp`}>
            <source media="(min-width:768px)" srcset={`${bgImageSlug}-md.webp`}>
            <source media="(min-width:1024px)" srcset={`${bgImageSlug}-lg.webp`}>
            <img src={`${bgImageSlug}.webp`} alt={altText} class={classes}>
        </picture>
        <div class="z-10 h-screen w-screen flex flex-col mt-12">
            <slot />
        </div>
    </div>
</html>
