---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import Header from '../components/Header.astro';
import { createSignal, For } from 'solid-js';
import type { LinkData } from '../types';
import { LinkList } from '../components/LinkList';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { title, tags } = post.data;

const linkClasses = [
    'text-sky-500',
    'hover:text-yellow-500',
    'dark:text-sky-500',
    'dark:hover:text-yellow-500',
    'hover:underline',
    'font-bold',
].join(' ');

const tagLinks = tags.map((t) => {
  return {
    title: t,
    url: `#${t}`
  }
})
---

<Layout title={title}>
  <Header transparent={false} sticky={true}/>
  <main class="mt-20 p-4 max-w-3xl mx-auto flex">
    <article class="text-black dark:text-white">
      <div class="mb-6">
        <h1 class="lg:text-3xl text-2xl font-bold">{title}</h1>
        <div class="text-sm mt-2">
          <LinkList links={tagLinks}/>
        </div>
      </div>
      <slot />
    </article>
  </main>
</Layout>